body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
  
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  animation: fadeInOut 15s linear infinite;
}
.image1 {
  background-image: url('/assets/videos/loginImage_1.jpeg');
}

.image2 {
  background-image: url('/assets/videos/image.jpg');
  animation-delay: 5s;
}

.image3 {
  background-image: url('/assets/videos/imageLogin_3.jpg');
  animation-delay: 10s;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}




.heading{
  position: absolute;
  top: 16px;
  font-size: 28px;
  padding: 9px;
  color:  #F5F5F5;
  z-index: 1;
  
  // rgb(55, 49, 49);
  // background: linear-gradient(
  //         to right,#e3dada,#474343 );
  //         border-radius: 7px;

}
.admin{
  position: relative;
  left: 1200px;
  bottom: 67px;
  border-radius: 40px;
  width: 138px;
  padding: 9px;
  z-index: 1;
  color: #696969;
}
.owner{
  position: relative;
  left:1215px;
  bottom: 67px;
  border-radius: 40px;
  width: 138px;
  padding: 9px;
  z-index: 1;
  color: #696969;

}
.user{
  position: relative;
  left: 1228px;
  bottom: 67px;
  border-radius: 40px;
  width: 138px;
  padding: 9px;
  z-index: 1;
  color: #696969;
}
.container{
  z-index: 1;
}